body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    overflow: hidden;
}

.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.side_bar {
    background-color: black;
    width: 340px;
    border-radius: 16px;
}

.main_content {
    background-color: black;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    margin-left: 0.5rem;
    margin-bottom: 5.75rem;
    padding: 0 1.5rem 0 1.5rem;
}

.music_player {
    background-color: #121212;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
}

.nav {
    background-color: #121212;
    border-radius: 1rem; /*16px*/
    display: flex;
    flex-direction: column;
    justify-content: center; /*horizontally in centre*/
    height: 100px;
    padding: 0.5rem 0.75rem;
    

}

.nav_option {
    line-height: 2.5rem;
    padding: 0.5rem 0.75rem;
}

.nav_option a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    opacity: 0.7;
    margin-left: 1rem;
}

a {
    color: white;
    text-decoration: none;
}


.nav_option a:hover {
    opacity: 1;
}

.nav_option i {
    font-size: 1.25rem;
    opacity: 0.7;
}

.nav_option i:hover {
    opacity: 1;
}

.library {
    background-color: #121212;
    border-radius: 1rem;
    justify-content: space-between;
    height: 100%;
    margin-top: 0.75rem;
}

.option {
    background-color: #121212;
    display: flex;
    border-radius: 1rem;
    justify-content: space-between;
    padding: 0.5rem 0.75rem;
    align-items: center;
    line-height: 2.5rem;
}

.img_lib {
    padding-left: 1rem;
    opacity: 0.7;
    align-items: center;
}

.icon {
    align-items: center;
}

.img_lib:hover{
    opacity: 1;
}

.icon i{
    font-size: 1.25rem;
    padding-left: 1rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}

.icon i:hover {
    opacity: 1;
}


.img_lib img{
    height: 1.25rem;
    width: 1.25rem;
    padding-right: 1rem;
}


.box {
    background-color: #232323;
    height: 8rem;
    border-radius: 1rem;
    margin: 1rem 1rem;
    padding: 1rem;
}

.p1 {
    font-weight: 700;
    font-size: 0.9rem;
}

.p2 {
    font-size: 0.7rem;
}

.btn {
    color: black;
    background-color: white;
    padding: 0.5rem 0.75rem;
    border-radius: 1rem;
    font-family: "Montserrat", sans-serif;
    border: none;
    font-weight: 600;
    margin-top: 0.5rem;
}

.backward, .forward {
    background-color: black;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    text-align: center;
}

.navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #121212;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0 0.5rem 0;
    z-index: 2;
}

.sticky-btn1 {
    color: black;
    background-color: white;
    padding: 0.5rem 0.75rem;
    border-radius: 1rem;
    font-family: "Montserrat", sans-serif;
    border: none;
    font-weight: 600;
    margin-top: 0.5rem;
}

.sticky-btn2 {
    color: white;
    background-color: black;
    padding: 0.5rem 0.75rem;
    border-radius: 1rem;
    font-family: "Montserrat", sans-serif;
    border: none;
    font-weight: 600;
    margin-top: 0.5rem;
}

.sticky-nav-icon img {
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 0.5rem;
}

.sticky-nav-option {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticky-nav-option button {
    margin-right: 1rem;
}

.sticky-nav-option i {
    margin-right: 1rem;
}

@media (max-width: 1000px){
    .hide {
        display: none;
    }
}

.cards {
    width: 10rem;
    background-color: #232323;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.cards img {
    width: 100%;
    border-radius: 0.5rem;
}

.card_container {
    display: flex;
    flex-wrap: wrap;
}

.card_title {
    font-weight: 600;
}

.card_info {
    font-size: 0.85rem;
    opacity: 0.8;
}

.footer {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    width: 90%;
    height: 30%;
    border-top: 1px solid white;
    margin: 2rem;
    opacity: 0.5;
}

.music_player {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.player_control img {
    height: 1rem;
    width: 1rem;
    margin-right: 1.5rem;
    margin-bottom: 0.5rem;
    opacity: 0.7;
}

.player_control img:hover {
    opacity: 1;
}

.player_control {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progree_bar {
    width: 70%;
    appearance: none;
    background-color: transparent;
}

.part_img img {
    height: 3.5rem;
    margin-right: 1rem;
}

.part1 p {
    font-size: 0.7rem;
    font-weight: 550;
    margin-right: 0.5rem;
    margin-top: 0;
}

h4 {
    margin: 0;
    padding: 0;
    margin-bottom: 1px;
}

.part1 i {
    margin-left: 0.5rem;
}

.part1 {
    justify-content: center;
    align-items: center;
    width: 25%;
    cursor: pointer;
    display: flex;
}

.part2 {
    justify-content: space-between;
    align-items: center;
    width: 50%;
    cursor: pointer;
}

.part3 {
    justify-content: space-between;
    align-items: center;
    width: 25%;
    cursor: pointer;
    display: flex;
    margin-right: 2rem;
}

.part3 i {
    margin-left: 1rem;
}

.progree_bar::-webkit-slider-runnable-track {
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}

.progree_bar::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;
}

